body {
  background: pink; /* Missing colon */
}

h1 {
  color: blue;
  font-size: 3em; /* "fontsize" should be "font-size" */
}

h2 {
  color: green;
  font-weight: normal;
  font-style: italic; /* Missing semicolon after "font-weight: normal" */
}

.completed {
  font-size: 12px; /* "font-family" should be "font-size" */
}

#tasks .completed {
  background: #ccc; /* "backgound" should be "background" */
  text-decoration: underline;
}
